<div *ngIf="resume" class="row">
  <div class="col-md-8 m-auto">
    <div class="row">
      <h1 class="col-md-12">Резюме</h1>
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <h5>Ім'я</h5>
          </div>
          <div class="col-sm-6">
            {{resume.userName}}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <h5>Стать</h5>
          </div>
          <div class="col-sm-6">
            {{resume.gender}}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <h5>Професія</h5>
          </div>
          <div class="col-sm-6">
            {{ profession }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <h5>Місто пошуку роботи</h5>
          </div>
          <div class="col-sm-6">
            {{ resume.city }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <h5>Стаж роботи за вказаною професією</h5>
          </div>
          <div class="col-sm-6">
            {{ resume.experience }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <h5>Бажана зарплатня (грн)</h5>
          </div>
          <div class="col-sm-6">
            {{ resume.salary }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h5>Коротко про особу</h5>
          </div>
          <div class="col-12">
            <div class="alert alert-secondary">{{ resume.description }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button [routerLink]="['edit']" class="btn btn-primary">Редагувати</button>
        <button (click)="deleteResume()" class="btn btn-danger">Видалити</button>
      </div>
    </div>
  </div>
</div>
