<div class="card resume-item-container" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ profession }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{suggestion.employerName}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{suggestion.city}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Зарплатня: {{suggestion.salary}}</h6>
    <p class="card-text">{{suggestion.description}}</p>
    <button (click)="goToSuggestionDetail()" class="btn btn-primary">Детальніше</button>
    <button (click)="delete()" class="btn btn-danger">Видалити</button>
  </div>
</div>
